.main-title {
  margin-top: -8rem;
}

a.social {
  font-size: 2rem;
  padding: 1rem;
  transition: all .2s ease-in-out;
  display: inline-block;

  &:hover {
    transform: scale(1.5);
    text-decoration: none;
  }

  &:last-child {
    margin-right: 0;
  }
}



.photo {
  position: absolute;
  right: 0;
  bottom: 1rem;
}