<div class="container-fluid h-100" msd-wheel="$ctrl.scrolling($deltaY)">
    <div class="row justify-content-center align-items-center h-100">
        <div class="col-md-6 text-center main-title">
            <h1 class="display-1 mb-4" ng-click="$ctrl.photoStyle['background-color'] = 'green'">
                Idan Cohen
            </h1>
            <a ng-repeat="social in $ctrl.socialArray" ng-href="social.link" class="social">
                <i class="fa" ng-class="social.icon" ng-style="$ctrl.rainbowColor"></i>
            </a>

        </div>
        <div class="col-md-2 photo p-0" ng-style="$ctrl.rainbowBackground">
            <img src="/src/images/idan.png" class="img-fluid" alt="Responsive image">
        </div>
    </div>
</div>