<div class="container h-100">
    <div class="row justify-content-center align-items-center h-100">
        <div class="col-md-6 text-center main-title">
            <h1 class="display-1 mb-4">
                Idan Cohen
            </h1>
            <i class="fa fa-twitter" aria-hidden="true"></i>
            <i class="fa fa-facebook" aria-hidden="true"></i>
            <i class="fa fa-linkedin" aria-hidden="true"></i>
            <i class="fa fa-github" aria-hidden="true"></i>
            <i class="fa fa-medium" aria-hidden="true"></i>
            <i class="fa fa-youtube" aria-hidden="true"></i>

        </div>
        <div class="col-md-3 photo">
            <img src="/src/images/idan.jpg" class="img-fluid" alt="Responsive image">
        </div>
    </div>
</div>