.main-title {
  font-family: 'Comfortaa', cursive;
}

a.social {
  font-size: 2rem;
  padding: 1rem;
  transition: all .2s ease-in-out;
  display: inline-block;

  &:hover {
    transform: scale(1.5);
    text-decoration: none;
  }

  &:last-child {
    margin-right: 0;
  }
}

.photo {
  right: 0;
  bottom: 1rem;
}

@media (min-width: 767px) {
  .photo {
    position: absolute;
  }
  .main-title {
    margin-top: -8rem;
  }
}

@media (max-width: 767px) {
  .photo {
    width: 50%;
  }
}